*{
    /* border: 1px solid yellowgreen; */
}


body{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
#calc{
    width: 23%;

    border-radius: 5px;
    background: black;
    margin: 5em auto;
    padding: 2px ;
}
#top{
    margin-top: 2px;
}
.screen{
    background: rgb(75, 0, 25);
    width: 97%;
    color:  white;
    padding: 3px;
    /* border-radius: 3px; */
    border-radius: 2px;
    font-size: 1em;
    text-align: right;
    height: 30px;
    margin-left: 2px;
    border: none;
}
#top{
    color: white;
    border-bottom: none;
    font-size: 2em;
}
.bottom{
    border-top: none;
    color: white;
}
button{
    margin-left: 3px;
    margin-top: 4px;
    width: 70px;

    height: 70px;
    font-size: larger;
    border: 2px solid white;
    background: #deb1c7;
}
#k1,#k18{
    width: 147px;
    height: 70px;
    font-size:22px;
    background:  rgba(159, 248, 193, 0.904);
    color:  rgba(51, 80, 62, 0.904);
}
#k3,#k7,#k11,#k15{
    background-color: rgb(141, 182, 243);
    color: rgb(4, 131, 250);
    font-size: larger;
}
input{
    color:white;
}
