body{
    width: 90vw;
    height: 100vh;
    background: linear-gradient(60deg,red,yellow,blue);
}
#parent{
    /* background: red; */
    width: 500px;
    height: 80%;
    border: 3px solid red;
    border-radius: 5px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6 , 1fr); 
    /* justify-content: space-around; */
    /* align-items: stretch; */
    grid-gap: 2px;
}
.block{
    /* width: 50px;
    height: 50px; */
    background: red;
    border: 5px solid white;
}
.black{
    border: 5px solid black;
    background: green;
}
.count{
    background: yellow;
    width: 70px;
    height: 30px;
    text-align: center;
}
.remaing{
    background: yellow;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 70%;
    top: 10px;
    text-align: center;    
}