body{
    width: 90vw;
    height: 100vh;
    background: linear-gradient(60deg,red,yellow,blue);
}
#parent{
    background: rgb(196, 82, 82);
    width: 500px;
    height: 80%;
    border: 3px solid red;
    border-radius: 5px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6 , 1fr); 
    /* justify-content: space-around; */
    /* align-items: stretch; */
    grid-gap: 2px;
}
.block{
    /* width: 50px;
    height: 50px;  */
    margin: 10px;
    border-radius: 5px;
    background: rgb(134, 53, 53);
    border: 2px solid white;
}
.black{
    background: rgb(63, 219, 63);
}
.count{
    background: white;
    width:150px;
    height: 30px;
    text-align: center;
    font-size: xx-large;
    position: relative;
    left: 400px;
}
h1{
    font-family: "Audiowide", sans-serif;
    width: 800px;
    height: 40px;
    position: relative;
    left: 300px;
    color: red;
}
.remaing{
    background: white;
    font-size: xx-large;
    width: 150px;
    height: 30px;
    position: absolute;
    left: 680px;
    top: 8px;
    text-align: center;  
}
@media screen and (max-width:900px) {
    .count{
        left: 100px;
    }
    .remaing{
        top:8px;
        left: 360px;
    }
    h1{
        left:10px;
        color: black;
        
    }
}