body{
    width: 100vw;
    height: 100vh;
    background: #2e2e2e;
}
.white{
    background: white;
}
.wrapper{
    border: 2px solid rgb(236, 91, 91);
    width: 330px;
    height: 330px;
    margin: 10em auto;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    border:8px solid white;
    border-radius: 5px;
    /* box-shadow: 10 2 14 2 white; */
}
div{
    cursor: pointer;
    background: red;
    border: 1px solid rgb(235, 80, 80);
}
div:hover{
    background: rgba(255, 247, 247, 0.432);
}
#k18{
    background: white;
}